.container {
  min-width: 450px;
  max-width: 650px;
  min-height: 500px;
  height: auto;
  margin: 2% auto;
  padding: 1%;
  background-color: #7c6eff;
  border-radius: 15px;
  box-shadow: 10px 14px 8px 0px rgba(160, 220, 255, 0.77);
}
.title {
  margin-bottom: 10px;
  text-align: center;
  color: #c8f0ec;
  text-shadow: 4px 3px 12px rgba(160, 220, 255, 0.77);
}

.appear {
  opacity: 0;
  transform: translateX(-50%);
}

.appearActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms linear;
}
